[2013-12-05 07:03] traversaro opened #2 "OS X support"
.so file extension for plugins is currently hardcoded in the models
(Relevant gazebo issue: https://bitbucket.org/osrf/gazebo/issue/800/plugin-loading-on-os-x )
We should investigate if using type instead of filename actually works (I believe they still didn't have modified gazebo for doing this) and provide a temporary workaround in the meanwhile (for example generating models using CMakeLists.tx

[2013-12-05 10:42] #2 closed, assigned to nobody

[2014-03-04 17:26] iron76 opened #4 "right and left leg joint 1 rotation"
The rotation of joint 1 (left_leg and right_leg) is reversed with respect to the rotation on the real robot. In particular positive angles should rotate the right_ leg towards the right of the robot but in gazebo this is exactly the opposite.

[2014-03-04 17:28] iron76 opened #5 "joint 3 limits for right_arm and left_arm"
The joint 3 limits do no seem to be configured. Function returns (-572957795130823232.00 572957795130823232.00)

[2014-03-04 19:30] #5 closed, assigned to francesco-romano

[2014-03-05 09:32] #4 closed, assigned to francesco-romano

[2014-04-02 08:38] arocchi opened #6 "icub_gazebo is a gazebo models folder"
By adding a database.config file (i.e. take a look at https://github.com/EnricoMingo/iit-coman-ros-pkg) you can use icub_gazebo as a gazebo models folder and use the icub model without copying the files to your home folder (e.g. export GAZEBO_MODEL_PATH=/path/to/icub_gazebo )

[2014-05-14 15:00] lornat75 opened #8 "The simulator opens ports with icubGazeboSim, should we call them icubSim?"

[2014-05-14 15:00] lornat75 opened #9 "Should we move the repository to robotology?"

[2014-05-14 20:48] #6 closed, assigned to nobody

[2014-07-10 09:40] iron76 opened #12 "Renaming the repository icub-urdf"
I think the name is misleading since we are not just using the URDF for gazebo but also for other projects.
Francesco

[2014-11-07 12:45] andreadelprete opened #13 "Feet fixed to a different position"
I'm using the model iCub_feet_fixed to avoid the annoying sliding of the robot's feet on the ground. However I'd like to have iCub's feet in a different position from where they are in the initial configuration.
Is anyone aware of a way to do that?
I think the only way would be to spawn the robot in the simulator in a configuration that is different from "all the joints at 0 degrees".

[2014-11-28 13:19] robertocalandra opened #14 "icub_with_hands does not work on Gazebo"
As title, the icub_with_hands doesn't seems to work on Gazebo. When trying to insert it, no icub is created and nothing seems to happens.

[2015-03-19 11:48] traversaro opened #15 "[codycoDemoY2] iCub force balancing working smoothly in Gazebo simulation"
I open this meta issue (that is not only related to `gazebo-yarp-plugins`) to collect in one place links to all the issue related to the problem of running the iCub force  balancing (using the `torqueBalancing` module available in the `codyco-modules` repository) in Gazebo, for helping people that are going to work on this: @jeljaik @naveenoid @prashanthr05 @nunoguedelha .

As we discussed, there

[2015-03-24 11:30] nunoguedelha commented on #15
Prashanth and I have implemented the replacement of the feet mesh by a simpler shape in the iCub SDF model. As per the team recommendations, we've used a simple box shape leading to a 4 contact/collision points with the ground. This is under test and being tracked under a previously open issue:
https://github.com/jeljaik/WB-Team-Issues/issues/27

[2015-03-24 15:31] traversaro commented on #15
@jeljaik the two procedures currently used for generating urdf models are described in this issue: https://github.com/robotology/codyco-superbuild/issues/55 .

[2015-04-27 13:48] traversaro opened #16 "Give iCub Gazebo models proper YARP_ROBOT_NAME"
Currently we are storing gazebo-specific configuration under the robot `icubGazeboSim`. However, we now have two different models of the robot in Gazebo [1] :
- A model similar to an iCub v1, generated using the old generation system in https://github.com/robotology-playground/icub-model-generator .
- A model of the `iCubHeidelberg01`, generated using directly from the Creo CAD models, as describe

[2015-04-27 14:14] rlober commented on #16
Why not `iCubGazeboV1`, `iCubGazeboV2` ... and for local models extracted from cad `iCubGazeboParis01` or `iCubGazeboParis02`.

Just my two cents :smile:

[2015-04-27 14:32] traversaro commented on #16
I like `iCubGazeboV1` and `iCubGazeboV2`.

[2015-04-27 14:33] DanielePucci commented on #16
It's fine for me also: I like iCubGazeboV1 and iCubGazeboV2 .

[2015-04-27 15:56] jeljaik commented on #16
I think it's important also to differentiate between iCubV2 and iCubV2.5 for example ... we might simply add it at the end as `iCubGazeboV2_5` to at least have a clear relationship with the 'real' version of the robot it's simulating. I know it's a bit ugly, but some easy mapping must be done among existing names/versions and these new ones. `iCubGenova01` is the perfect example for this, being I

[2015-04-27 16:11] traversaro commented on #16
Let's clarify: I don't want to maintain a "Gazebo" version for all exiting robots, I think this would be difficult to maintain.

I think for all practical use it is ok to just maintain:
* Heidelberg version, given that is completely different
* A model for each major version of the iCub (i.e. 1, 2, 3).

Having say that, I thinks it could make sense to clearly distinguish iCub v2 from v2.5, even in

[2015-07-01 13:48] drdanz opened #18 "Wrong rotation order in /icubGazeboSim/inertial port"
On the real icub, data received from the imu sensor is transmitted on the /inertial port in the order: roll pitch yaw. Anyway the values is produced by the sensor using the aeronautic convention pitch roll yaw.

On the simulator, the imu sensor sends values in the same order, roll pitch yaw, but the data is produced using the robotic convention roll pitch yaw.

The result is that the values are th

[2015-07-01 14:03] traversaro commented on #18
I guess (unless we at least change the name of the port) we cannot change the `/icub/inertial` behaviour.

[2015-07-02 06:36] DanielePucci commented on #18
I agree with @drdanz. And thanks for reporting this, which I hope will save the time we lost together in figuring this out :)

[2015-07-02 09:57] francesco-romano commented on #18
@traversaro what about changing the IMU implementation in the gazebo plugin to match the robot one?

[2015-07-02 10:01] barbalberto commented on #18
The header file of inertial server explains how the data should be broadcasted  through the port, so any imu device using it has to comply with that.
https://github.com/robotology/yarp/blob/master/src/libYARP_dev/src/modules/ServerInertial/ServerInertial.h  @line 50

[2015-07-02 10:37] drdanz commented on #18
@barbalberto unfortunately the header file does not specify whether roll pitch and yaw should be generated using the robotics or aeronautical convention.

[2015-07-02 10:40] barbalberto commented on #18
Ii know there are a lot of standards, but "it says xyz in global frame", that should have a unique meaning, once you know how your xyz are oriented.
If it not clear enough, let's change again the header in such a way there are no more doubt :-D

[2015-07-02 10:42] barbalberto commented on #18
by the way, global frame usually means aeronautical convention

[2015-07-02 11:15] traversaro commented on #18
For the sake of clarity  I propose:
   * Reference to one existing definition (in the form of a scientific article or a page of citable website/database) of the euler angles that match the one that you use.
   * Explain what rotation are these euler angles describing: the rotation that multiplied by a 3d vector expressed in imu frame returns a vector expressed in the "global" frame (in Siciliano a

[2015-07-17 12:46] francesco-romano opened #19 "[iCub] wrong leg limits"
It seems that the min and max limits are exchanged (at least for the legs)

[2015-07-17 13:06] traversaro commented on #19
For models generated with the "old" generation procedure, limits are copied from the urdf files provided by UPMC :  https://github.com/robotology-playground/icub-model-generator/blob/master/src/icub_urdf_sdf_generator.cpp#L679

We should then modify the source files :
 * https://github.com/robotology-playground/icub-model-generator/blob/master/data/urdf_paris/icub_simple/icub_simple.xml
 * https:/

[2015-07-17 13:06] traversaro commented on #19
Limits issue originally tracked in https://github.com/robotology/codyco-superbuild/issues/55 .

[2015-07-20 17:06] drdanz opened #20 "Move repository to robotology"
As discussed with @traversaro, this repository should be moved to [robotology](https://github.com/robotology)

cc-issue: robotology/robotology.github.io#2

[2015-08-11 11:55] rlober opened #21 "enabling self collision"
Where should I put the,
[code]
tag in the icub models to enable self collision? I would like to do it for the whole body if possible.

I haven't been able to find a clear answer on this in the google-sphere.

Thanks
Ryan

[2015-08-11 13:12] traversaro commented on #21
The tag for self collision in SDF is `self_collide`, and is a child of `model` tag. The official documentation should be: http://sdformat.org/spec?ver=1.5&elem=model#model_self_collide . Anyway it could make sense we enable it by default...

[2015-08-11 14:38] rlober commented on #21
Hey @traversaro, thanks for the help. I will play around with it a bit then come back here and report my experience. With other simulators enabling self collision tends to drastically increase computational load so I am wary of enabling be default, but I will let you know when I have more experience with it. I am going to close this issue for now. Thanks man!

[2015-08-12 13:47] rlober commented on #21
@traversaro

So I have played a bit with `self_collide` and found some issues. Just FYI, I am running Gazebo 4.1.1 and currently have version 2.2.0-1~precise of `libsdformat2`.

Issues:
- The `<self_collide>` element is not a child of `<model>` but rather a child of `<link>`. I think this is an unresolved issue for them: https://bitbucket.org/osrf/sdformat/issues/71

- I first tried adding `<self_

[2015-08-13 10:32] traversaro commented on #21
My tests :
 * On Gazebo 6 , sdformat 3 adding a `<self_collide>true</self_collide>` tag to the model was sufficient to enable self collision on all the links. I don't know if this is due to a bug in Gazebo 4 that is now fixed in Gazebo 6. However by doing this I get the problem that you where experiencing of nearby links colliding. (Brief comments on this: Gazebo disable collision for two links co

[2015-08-13 10:40] traversaro commented on #21
Update: apparently the model self_collide is available only since Gazebo6 : https://bitbucket.org/osrf/gazebo/pull-requests/1480/implemented-self_collide-bool-for-model/diff .

[2015-08-13 14:06] rlober commented on #21
@traversaro
Thanks for looking into this for me. This is all very good info. I am going to see what I can do about the collision meshes but for now it is not too critical.

Actually the real issue is our XDE simulator. We only have the binaries which were compiled for 12.04 so I wouldn't be able to use it at all if I move to 14.04. That being said I am working on it.

Although this issue isn't res

[2015-08-13 14:06] #21 closed

[2015-10-31 10:39] traversaro opened #22 "[model-generation] Numerical instability due to low articulated body inertia in the iCub shoulder"

[2015-10-31 18:06] DanielePucci commented on #22
Can you be a little clearer on the theory note?

[2015-10-31 20:05] traversaro commented on #22
In the 2D case : http://mathb.in/45652 . The 3D case is similar .

[2015-10-31 20:37] DanielePucci commented on #22
Got it. I agree on the 3D case.

[2015-11-06 17:32] traversaro opened #23 "[model-generation] Fix torso_roll axis in model generation"
https://github.com/robotology-playground/icub-gazebo/commit/c9339bbef7e53ee57ef62132087d3367b6407682

[2015-11-06 18:57] DanielePucci commented on #23
:+1:

[2015-11-12 22:00] traversaro opened #24 "Remove ControlBoardWrapper warnings"
See https://github.com/robotology/gazebo-yarp-plugins/issues/210#issuecomment-156236465 .

@barbalberto @liesrock @EnricoMingo @arocchi
Can you confirm me that the walkman superbuild is pointing to the `master` branch of YARP ? Thanks.

[2015-11-13 07:42] barbalberto commented on #24
Not exactly the master but updated at the beginning of month, commit 2fae6159e0d4f4a574c68188402d0857e07611d0. Anywayt it'll need to update again when we fix the newly found bug on networkClock #624

[2015-11-13 10:27] liesrock commented on #24
I confirm what @barbalberto wrote.

[2015-11-13 11:07] traversaro commented on #24
Thank you guys. :+1:

[2015-12-10 12:15] misaki43 opened #25 "Error in the launch "Unable to read sdf file[.../icub.word]""
Hi,
 I just installed icub_gazebo with this link : "https://github.com/robotology-playground/icub-gazebo/issues" and I have some trouble when I want to launch "gazebo /[myPath]/icub-gazebo-master/world/icubword".
--> first a warning (parser) says "converting a deprecated source[[myPath/icub-gazebo-master/icub/icub.sd".
--> second a warning says version 1.5 has been converted to 1.4
--> third an er

[2015-12-10 12:24] traversaro commented on #25
Which version of Gazebo are you using?

[2015-12-11 13:01] misaki43 commented on #25
It is the version 2.2.6.

[2015-12-11 13:14] traversaro commented on #25
I guess most of the model have been produced in this repo have been converted to URDF using a later version of Gazebo, and so the model is using the SDF version 1.5, while Gazebo 2.* uses version 1.4 .

Sorry for not properly stating the incompatibility with Gazebo 2.* in the repo description, given that most of our users use the latest version of Gazebo we were not aware of this.

Do you have a s

[2015-12-11 14:29] misaki43 commented on #25
Thanks for this information, I have no reason to use this 2.* version, in fact I choose it randomly.
So, you recommend the 1.9 version of this link: "http://gazebosim.org/download" or an other ? I don't find easily the 1.4's version.

[2015-12-11 15:11] traversaro commented on #25
The 1.5 / 1.4 versions mentioned in the previous comments are versions of the [`SDF` format](http://sdformat.org/spec).
If you don't have any constraint, I would recommend (as it is reported in `gazebo-yarp-plugins` docs: https://github.com/robotology/gazebo-yarp-plugins#dependencies) to use the latest stable version of Gazebo, that is Gazebo 6.1 at the moment. Gazebo 6.1 fully supports SDF versio

[2015-12-11 18:34] misaki43 commented on #25
Ok thanks ! I will try it next monday (I don't have my computer this week-end) and I will tell you if it works

[2015-12-18 10:39] traversaro commented on #25
Ok great!
For the future: when you update an issue post a new comment, so participants on the issue will be notified of the update. If you edit an earlier comment, there is no way for the participants to the issue to know that you replied to the issue.

[2015-12-18 10:39] #25 closed

[2015-12-18 10:40] traversaro opened #26 "icub-gazebo is compatible only with the Gazebo version that introduced SDF 1.5"
This should documented, see https://github.com/robotology-playground/icub-gazebo/issues/25 .

[2016-02-03 17:19] traversaro commented on #20
:+1:

[2016-02-11 15:59] drdanz commented on #20
@traversaro does :+1: mean that you are ready for moving this?

[2016-02-11 16:04] traversaro commented on #20
yes

[2016-02-11 16:13] drdanz commented on #20
Done!

[2016-02-11 16:13] #20 closed

[2016-04-26 13:04] UChervet opened #28 "Found bug in yarpmotorgui configuration file"
Hello,

The yarpmotorgui configuration file is missing some parameters for the last three head joints.
Therefore by clicking home on the GUI we get an error.

[head_zero]
//                  0          1        2         3          4          5
PositionZero      0.0        0.0      0.0
VelocityZero     10.0       10.0     10.0

We modified the file adding the missing position and velocity values a

[2016-04-26 13:08] traversaro commented on #28
Yes, it is the same modification that @misaki43 did in https://github.com/robotology/codyco-modules/pull/178 (the reason is that until few months ago the gazebo simulator did not had support for the eyes). Feel free to open a PR with the correct version, thanks!

[2016-05-07 12:29] frank-foerster commented on #14
I tried to use this 'model' in the last two days and the iCub is inserted now. But the hands don't seem to be 'controllable', that is, the visual controls for all hand joints (except for the wrist), are not being shown in the yarpmotorgui. Has there been any update on this since this issue was discussed last?

[2016-05-09 07:58] traversaro commented on #14
Last week I believe that @Yeshasvitvs had the same problem, and he was able to solve it with the help of @randaz81 . Let's see if they can help you.

[2016-05-09 08:38] Yeshasvitvs commented on #14
change the "parts" in yarpmotorgui.ini file of the icub_with_hands with
parts (head  torso left_arm right_arm left_hand right_hand right_leg left_leg)

[2016-05-09 09:18] traversaro commented on #14
I see, probably some work need to be done to refactor the wrappers to be sure to expose the same  (yarp) interface on icub_gazebo and on the real robot.

[2016-05-09 11:09] frank-foerster commented on #14
Thanks, that did the trick. Now I just have to figure out how not to have the iCub fall immediately upon adding it to the world and break its fingers right away ;)

[2016-05-09 13:10] Yeshasvitvs commented on #14
please note that Gazebo model does not include all the DOF for the hand as in real robot @randaz81 can give you further information on this

[2016-05-09 14:19] randaz81 commented on #14
This module is currently WIP. All the DOFs are now available (from this morning).
Wrapper is going to be fixed later this week.

[2016-05-10 14:57] randaz81 commented on #14
I pushed a new version of the **icub_with_hands** model with the wrapper fixed to control the whole arm (15 joints). The part names are the same used on the real robot (**left_arm**, **right_arm**)
I also revised the **icub** model which now opens, instead, two different parts (**left_arm_no_hand**, **right_arm_no_hand**). This to remark the fact the those parts (which control only a limited numbe

[2016-05-10 15:22] traversaro commented on #14
@randaz81 can I revert the change of the names of the port in the icub without hands to left_arm / right_arm ?

 I agree that we should distinguish them, but this change broke all our controllers and tutorials two days before the `CoDyCo` project review meeting. : )

[2016-05-10 16:04] randaz81 commented on #14
yes, of course. Let's review all the models one by one after demo.

[2016-05-10 16:04] traversaro commented on #14
:+1:

[2016-05-19 14:57] Yeshasvitvs opened #30 "icub_with_hands gazebo model - Hands collision elements are not included"
@traversaro please send me the links for the shadow hand and other references

Thank you

[2016-05-19 15:10] traversaro commented on #30
A good reference for an highly articulated hand working fine in Gazebo is the MPL hand used in the Haptix simulator, see
https://bitbucket.org/osrf/handsim/src/8fe03d4d113659c1cc04ea788792b1b7e995c267/models/mpl_haptix_left_forearm/model.sdf?at=default&fileviewer=file-view-default .
Note that the substituted all the collision with cylinders, that is something that we may also consider. Highly deta

[2016-05-19 15:12] traversaro commented on #30
Hi @scpeters @j-rivero ,
  we are in the process of tuning the contact parameters of the iCub hand, and we were wondering if you have some good reference for existing humanoids hands modeled in Gazebo, from which we can get "inspiration" when doing contact parameter tuning. I already found the MPL hand used in Haptix and the Shadow Robot hand, but perhaps you know of other good examples. Thanks a

[2016-05-19 15:12] randaz81 commented on #30
very important!

[2016-05-19 17:34] j-rivero commented on #30
Hey Silvio:

@scpeters @hsu are probably the right people to ask for advice. From my poor experience, I can remember the good [Sandia Hand](https://bitbucket.org/osrf/sandia-hand/src/2532c504044ada285d24242d737801bc0cf69b18/ros/sandia_hand_description/?at=default) and the [iRobot hand](https://bitbucket.org/osrf/drcsim/src/583228ebd72677c36a393b3260f0c5f0bc7b0f87/irobot_hand_description/?at=defaul

[2016-05-19 17:46] scpeters commented on #30
The [MPL hand in handsim](https://bitbucket.org/osrf/handsim/src/8fe03d4d113659c1cc04ea788792b1b7e995c267/models/mpl_haptix_right_forearm/model.sdf?at=default&fileviewer=file-view-default) has had our most recent effort in parameter tuning. We also tend to focus our contact parameter tuning on ODE. The first thing I tend to do is to visualize contacts and try to pick a positive value of `min_depth

[2016-05-20 10:14] traversaro commented on #30
Thanks @scpeters @j-rivero for the useful pointers.

[2016-06-02 11:53] tkelestemur opened #31 "running iKinCartesianSolver with gazebo"
Hello,

I am trying to use inverse kinematic solver with gazebo. I am able to use `iKinCartesianSolver` with iCub_SIM by running these commands in order:
1. `iCub_SIM`
2. `simCartesianControl --no_legs`
3. `iKinCartesianSolver --context simCartesianControl --part right_arm`
4. `./jointFollower` (my code to give position and orientation to end-effector [right_arm])

Now I am doing gazebo and adding

[2016-06-03 07:33] tkelestemur commented on #31
I figured out that to run iKinCartesianSolver, I need a context file for Gazebo simulation. When I run it for iCub_SIM I give `--context simCartesianControl` as the context file when I give it for gazebo it causes problems because of the port names.

[2016-06-03 10:29] traversaro commented on #31
Hi, please see this discussion here: https://github.com/robotology/QA/issues/115 .

[2016-06-03 13:09] tkelestemur commented on #31
hi @traversaro , I don't encounter with falling like mentioned in the discussion, instead, I see strange behavior of the robot. The controller code is [here](https://github.com/tkelestemur/icub_ros/blob/master/iCubSim/src/jointFollower.cpp).

Note : we should document the changes in cartesianControl.ini to make iKinCartesianController run.

[2016-06-28 09:09] #28 closed

[2016-07-08 12:55] UChervet opened #32 "iCub Nancy URDF"
Dear all,

We would like to simulate precisely our robot in gazebo and control it with WBI. The problem is that we need a custom URDF since our robot is peculiar : we have a V2 head, V1 arms and torso and V2 legs. If I'm not mistaken all the URDF for the other robots have V2 arms. Is there an URDF for a V1 robot ? Is it possible to combine parts from different URDF files to create our custom one o

[2016-07-08 13:55] traversaro commented on #32
Hi @UChervet ,
  most of the logic underlying the generation of iCub URDF models is maintained at https://github.com/robotology-playground/icub-model-generator (currently under revision). If it is ok for you, I would move this issue to that repo to address your question there.

[2016-07-11 10:02] Tobias-Fischer opened #33 "icub_with_hands incorrect pose due to left arm pose"
Hi,
I found that the pose of the `icub_with_hands` model is incorrect. The RPY is (-0.49, 0.93, 2.97) after inserting the model, rather than the expected (0.0, 0.0, 3.14) (as found e.g. in the normal `icub` models.

I quickly looked into it, and it seems like it is an issue with the left hand. When I comment out

[code]

in the SDF file, the behavior is as expected when inserting the model (afterw

[2016-09-20 12:30] frank-foerster opened #34 "(In)compatibility of ARE with icub_with_hands model?"
Dear all,

I'm new to gazebo but have been playing around with it for a while now to see whether I can adopt it as the new standard iCub simulator (as recommended by @kt10aan).
I'm in particular interested in using the actionsRenderingEngine in order to generate grasping and similar hand-related behaviours, so I tried to use the icub_with_hands model.
When loading this model I noticed that hand-re

[2016-09-20 14:04] randaz81 commented on #34
Hi,
The correct names are the ones used by ARE.
The gazebo simulator should open THOSE ports (left_arm ecc) PLUS additional ports, which are the ones that you are mentioning (left_hand_thumb ecc)
If you see only the additional ports, there's a problem in the simulator model. I'll check the model.

[2016-09-20 14:54] frank-foerster commented on #34
Just ran the model again and you're right. The /.._arm ports are created. I probably didn't see those before because I had some other issues with my local installation.
I'll have a go with ARE now (if I get to run it properly) and will close this issue later, if I don't encounter further problems.
Thanks for the hint.

[2016-09-22 15:09] frank-foerster commented on #30
Hi, in preparation for the (simulated) iCub grasping something I just noticed that its hand goes right through the object models. I assume it is this issue - missing hand collision elements - that is causing this, correct?  (as you can tell I'm quite new to the simulated version of the robot).
Has there been any progress on this since then?

[2016-09-22 15:40] Yeshasvitvs commented on #30
@frank-foerster yes it was missing the collision elements. I modified it for my work and you can use the model available here
https://github.com/Yeshasvitvs/gazebo-yeshi/tree/master/icub_with_hands_cameras

[2016-09-22 16:44] frank-foerster commented on #30
@Yeshasvitvs I'll give it a try later today. Many thanks!

[2016-09-23 12:45] frank-foerster commented on #30
Hi @Yeshasvitvs ,
I just tried your `icub_with_hands_cameras` model but it seems that the iCub hands still penetrate the table surface

(can't upload images from our lab, but here's link to the image)
[icub_with_hands_cameras penetrating table surface](https://goo.gl/photos/dQFT4WBZcMQbuAwS8)

I'll test it now with some other objects laying on the table surface.

[2016-09-23 13:18] frank-foerster commented on #30
I just tried the hand with the `Plastic Cup`, `Bowl`, and `Cardboard box` models from gazebo's online repository and the hand penetrates them all.

[2016-09-23 14:22] Yeshasvitvs commented on #30
@frank-foerster Just noticed. Regarding the hands the  reference is given to the icub model at https://github.com/robotology/icub-gazebo/tree/master/icub
So when I was working with it I added the collision elements same as the visual elements inside the meshes folder of my local repository. But the contact parameters have not been tuned yet and updated on the master. I suggest you to proceed this

[2016-09-23 14:39] frank-foerster commented on #30
Ok, thanks for the info. As I have never added / tuned collision elements before I think I'll stick with the old simulator for the time being.

[2016-09-29 09:54] Yeshasvitvs opened #35 "icub_with_hands gazebo model joint6(wrist_yaw) position cannot be moved using yarpmotorgui"
Hello,

In the icub_with_hands gazebo model joint6(wrist_yaw) position cannot be moved using yarpmotorgui. The initial position is at one of the joint limit values of 24.57 and cannot be moved towards the other joint limit side. This problem does not exists with icub with no hands model

Thank you

[2016-10-04 10:24] Yeshasvitvs commented on #30
@frank-foerster Hello, we just updated the collision elements for iCub hands. Please check and let us know if you have any troubles. Thank you

[2016-10-04 10:24] #30 closed

[2016-10-05 09:06] frank-foerster commented on #30
Hi, yes, I've seen your update. Many thanks! I'm currently solving a different problem on the real robot, but will test the updated model thereafter and will let you now if I run into problems.
Thanks.

[2016-10-25 01:02] frank-foerster commented on #34
After getting all the other modules which are typically started for the old simulator to run with Gazebo I just reached the point at which ARE itself is quitting on me due to the Gazebo simulator not creating the expected skin-related ports:

`[ERROR]*** actionsRenderingEngine/tactile: unable to connect to /icubGazeboSim/skin/left_hand_comp
[INFO]*** actionsRenderingEngine/tactile: closing ...`

S

[2016-10-25 10:10] frank-foerster commented on #34
Thanks for the reply. Once I know a bit more what I'm doing and finished an urgent experiment, I might be able to help.

[2016-10-25 11:17] pattacini commented on #34
Hi @frank-foerster

[`ARE`](http://wiki.icub.org/iCub/main/dox/html/group__actionsRenderingEngine.html) wraps around [`actionPrimitives`](http://wiki.icub.org/iCub/main/dox/html/group__ActionPrimitives.html) to perform action sequencing, which in turn makes use of [`perceptiveModels`](http://wiki.icub.org/iCub/main/dox/html/group__PerceptiveModels.html) to deal with the required perception underly

[2016-10-25 11:22] frank-foerster commented on #34
Hi @pattacini ,
thanks for the hint to the springyFingers implementation, that was the kind of hint I was looking for.

[2016-10-25 11:22] #34 closed

[2016-10-31 11:24] frank-foerster opened #37 "unstable iCub behaviour when running ARE in Gazebo"
After having solved the issues with running ARE in conjunction with the Gazebo iCub (see #34 ),
I tested various functions from ARE with the new simulator which resulted in rather unstable robot behaviour resulting from nearly all functions except for the `home head` and `home hands` commands.

(I'm using the springyFingers model as the skin is not implemented on Gazebo yet).

With `unstable behav

[2016-11-08 08:35] traversaro opened #38 "Tune low-level gains of joint level controllers"
Several users are experiencing issues that (I think) are related to not properly tuned joint-level PID position loops of the iCub model in Gazebo, see:
* https://github.com/robotology/QA/issues/155
* https://github.com/robotology/icub-gazebo/issues/37
* https://github.com/robotology/icub-gazebo/issues/35

We should tune the position gains with respect to some clearly defined scenario, such as the

[2016-11-08 08:38] traversaro commented on #37
Thanks a lot for the feedback, @frank-foerster !

I think most of the issue that you are describing are due to poorly-tuned low-level PID parameters, see https://github.com/robotology/icub-gazebo/issues/38 .

One additional question: which table model did you for testing the "calibration table" command?

[2016-11-08 08:39] traversaro commented on #32
To avoid duplication, I think we can discuss all the aspects of iCubNancy01 model generation at https://github.com/robotology-playground/icub-model-generator/issues/13 .

[2016-11-08 08:39] #32 closed

[2016-11-08 08:46] traversaro commented on #33
Hi @Tobias-Fischer ,
  sorry for the late response.
What do you mean by `pose` of the model?
The one that you see in the side panel?

![screen shot 2016-11-08 at 09 45 55](https://cloud.githubusercontent.com/assets/1857049/20092392/391fe168-a598-11e6-8aaf-341c811d1966.png)

[2016-11-08 09:16] traversaro commented on #31
@tkelestemur Sorry for the delay in a proper reply.

Can you confirm that the problems that you see are similar to the one described by @frank-foerster in https://github.com/robotology/icub-gazebo/issues/37 ?

[2016-11-08 09:25] traversaro opened #39 "Cleanup models in the repo"
Only models of general relevance related to iCub should be committed in this repo, not random stuff.

[2016-11-08 09:26] traversaro commented on #15
This is working fine now (see https://www.youtube.com/watch?v=UXU3KSa201o).
Thanks to everyone involved @jeljaik @prashanthr05 @nunoguedelha !

[2016-11-08 09:26] #15 closed

[2016-11-08 09:27] traversaro commented on #13
I think we fixed long ago the drifting of the foot, so I think we can close this issue.

[2016-11-08 09:27] #13 closed

[2016-11-08 09:29] traversaro commented on #23
This is now enforced by the tests in `icub-model-generator`, see https://github.com/robotology-playground/icub-model-generator/blob/2e96973a3c68ce54ac553190b060a0e56220e1f6/tests/icub-model-test.cpp#L230 .

[2016-11-08 09:29] #23 closed

[2016-11-08 09:30] traversaro commented on #22
I think this can be also fixed by just enabling the implicit damping in Gazebo, see https://github.com/robotology-playground/icub-model-generator/issues/24 . This needs to be investigated.

[2016-11-08 09:32] traversaro commented on #19
@francesco-romano You think we fixed this?

[2016-11-08 09:33] traversaro commented on #14
We have now a working model with hands, thanks to @randaz81 .

[2016-11-08 09:33] #14 closed

[2016-11-08 09:33] traversaro commented on #18
Blocked by https://github.com/robotology/yarp/issues/802 .

[2016-11-08 09:34] #12 closed

[2016-11-08 09:34] traversaro commented on #9
Done in https://github.com/robotology/icub-gazebo/issues/20 .

[2016-11-08 09:34] #9 closed

[2016-11-08 09:35] traversaro commented on #8
Possible time to reevaluate this, perhaps at next IFI.

[2016-11-08 09:47] Tobias-Fischer commented on #33
Hi @traversaro,
it's been a while that I haven't been working with this. Yes, I do mean the pose in the side panel, and as far as I can remember visually you can see that the hand is in a weird configuration as well.
If you can't reproduce on your system, I'll give it a try and see whether it still happens here.

Thanks, Tobi

[2016-11-08 09:48] Tobias-Fischer commented on #33
Maybe related to https://github.com/robotology/icub-gazebo/issues/35 ?

[2016-11-08 10:13] francesco-romano commented on #19
Honestly, I don't remember.
Let's close this for now, and reopen it in case it hasn't been fixed yet.

[2016-11-08 10:13] #19 closed

[2016-11-08 10:22] traversaro commented on #33
Ok, so it is the `pose` of the `l_hand`, not of the overall robot model, I think I got it and you are right, it is probably related to https://github.com/robotology/icub-gazebo/issues/35 .

[2016-11-08 10:36] claudiofantacci commented on #8
Yeah I agree, we should discuss this during the next IFI 😄

[2016-11-08 10:38] Tobias-Fischer commented on #33
Yes, the pose of `l_hand` :).

[2016-11-08 10:57] frank-foerster commented on #37
Hi Silvio (@traversaro), thanks for the hint to the PID paramters. I don't know how to tune these though and have resorted to using the old simulator for the time being.
The table I used was the standard [table model](http://models.gazebosim.org/table/) from the Gazebo repository, where I adapted the height: I set z to 0.33m (instead of 0.5m) in the model inspector for all four legs under both the

[2016-11-08 14:50] randaz81 commented on #37
Regarding the stability, check also https://github.com/robotology/QA/issues/155 which has been hopefully just fixed.

One caveat: every time a model is updated (like in this case with new dynamic parameters), optimal PID gains might change and the controller stability should be re-checked.

[2016-11-08 15:16] randaz81 commented on #35
I'm sorry but I cannot reproduce this problem.
I'm using icub_with_hands model, and I'm trying to move joint 6 (wirst_yaw) on both arms from its initial position. I can easily move it from 25 to -19. Maybe I have not understood correctly, or this issue has been already fixed in the past. Can you check it?

[2016-11-08 15:41] randaz81 commented on #33
Not sure if I have understood correctly, also because I cannot reproduce issue #35.
I'm thus reinterpreting this issue in following way: "The parking position of the wrist when I start the robot in the simulator, is not 0 as in the real robot".
I fixed this with commit b29cc396891af548a23e6063cb0a3ecac6122d68

[2016-11-08 16:03] Tobias-Fischer commented on #33
Hi @randaz81 and @traversaro,
I just had a quick look, and I was referring to the pose of the `iCub` rather than the pose of the `l_hand`. See the attached screenshot. The orientation should be `(0.0, 0.0, 3.14)` but is actually something else. See also the tilted box within Gazebo.

Best,
Tobi

![icub-pose](https://cloud.githubusercontent.com/assets/5497832/20106369/d15cad92-a5cc-11e6-9e24-7f42d4

[2016-11-08 16:28] randaz81 commented on #33
Ok, I see. I'm checking..

[2016-11-09 00:30] randaz81 commented on #33
There's something tricky here. Numbers put in the model seems more or less right to me.

However I noticed the following facts:
- If I swap the order in which the two includes tags are written inside the .sdf, the result is wrong in a different way. If I remove the two includes, the model pose is ok. (1)
- If I remove the initialConfiguration tags, or if I put an initial configuration equal to zer

[2016-11-09 09:19] Tobias-Fischer commented on #33
Thanks for looking into this @randaz81! Let me know if I can help.

[2016-11-09 14:00] randaz81 commented on #33
Commit 9e13fb5c66 almost fixes the issue (A).
The issue was fixed by moving down the include tag (nice, isn't it??)
I still don't know why the order of tags (1) `and the values contained in intialConfiguration (2) affect the robot pose. Most likely there's a bug in gazebo xml parser plus a strange interaction between the gazebo engine and our motion control plugin... (but I currently do not have t

[2016-11-09 18:01] frank-foerster commented on #37
As far as I can tell the recent update didn't fix the issues. I updated my local copy of icub-gazebo and used the regular icub_with_hands model this time after having used a modified one last time.
I also lowered the table so it roughly matches the table height of the old simulator - it's still a little bit lower though I think.
I just tried the `home all` and `calibrate table` commands, but in bo

[2016-11-09 19:20] pattacini commented on #37
Working nicely, thanks a lot!

[2016-11-09 19:28] pattacini commented on #37
Sorry I commented on the wrong issue 😞

[2016-11-10 10:59] randaz81 commented on #35
The fix robotology/QA#155 should have improved joint effort limits. I think that this problem on the wrist_yaw should not happen anymore...

[2016-11-10 11:41] frank-foerster commented on #37
Just to complete the above test: I re-tested the new model using the 'icub_with_hands_fixed' "wrapper",
and the outcome was the same. As the robot is fixed, it doesn't fall over any more - instead it "hang over":

Video of [home all command](https://vimeo.com/190994843) with fixed model

[2016-11-10 11:48] randaz81 commented on #37
Did you used the very last version (updated one approx 1-2 hours ago) ?

[2016-11-10 12:04] Yeshasvitvs commented on #35
@randaz81 ciao marco,

I just tried it and the problem doesn't exist anymore. Thanks for the fix. I also noticed a lot twitching in the fingers even when I am not moving the fingers. I am not sure if it just on my machine, please let me know

[2016-11-10 12:04] randaz81 commented on #37
Ps: Would you mind to send me your scripts/configuration files to run are + the cartesian controllers on gazebo? Thank you

[2016-11-10 12:06] Yeshasvitvs opened #40 "iCub with hands and Cameras"
@traversaro @randaz81
Ciao Guys,

I see that we dont have any gazebo model with hands and cameras together. I am not sure if there is any particular reason for it. If not can I push it to master? Please let me know

Thank you

[2016-11-10 12:15] traversaro commented on #40
I think it make sense to just add cameras to `icub_with_hands` and then to remote `icub_with_cameras`.

[2016-11-10 12:16] traversaro commented on #40
@Yeshasvitvs In general for proposing any modification feel free to open a PR so we can discuss directly there.

[2016-11-10 12:48] Yeshasvitvs commented on #40
Yes that is how I am using it. Added the camera plugins and conf files and modified the sdf of hands model

Cheers

[2016-11-10 13:08] claudiofantacci commented on #40
I am also interested in a Gazebo iCub model with hands (hence torso + arms) and cameras.

@Yeshasvitvs do you have a model which is also fixed, say, at the ROOT so that it does not fall?

[2016-11-10 13:37] randaz81 commented on #35
Uhm, small inertias may lead to numerical instability, however I haven't spotted this issue in my tests.
Let's close this issue, and discuss this new problem on a separated thread.

[2016-11-10 13:37] #35 closed

[2016-11-10 14:07] Yeshasvitvs commented on #40
@claudiofantacci  I have a floating base model with hands and cameras

[2016-11-10 14:18] claudiofantacci commented on #40
Yeah that fine, will do the job 😄 !
Thanks!

[2016-11-10 14:22] #40 closed

[2016-11-10 15:20] traversaro commented on #39
Some people in the [DIC](https://www.iit.it/lines/dynamic-interaction-control) Lab at IIT (@DanielePucci, @gabrielenava) have several experiment specific models in this repo that I think should be moved to a specific repository, I will temporarily call it `icub-dic-gazebo`.

For all the other models I propose :

| Model |  Action | Comments |
|:------:|:-------:|:-----------:|
| `ContactTest` | Mo

[2016-11-11 10:42] frank-foerster commented on #37
As it turns out I haven't hat the very latest version, but the one before that. Just ran another `git pull` and will test now again. I'll report on the result here and will send you my scripts + config files after that. Thanks

[2016-11-11 10:47] frank-foerster commented on #39
I used the `icub_with_cameras` until yesterday and made my own `-fixed` version of that, I had to switch back to the `icub_with_hands` model in order to test the latest changes. So I'd welcome a cleanup and a merger of the camera functionality into the "standard" `_with_hands` model, and also, having a full iCub in the `_fixed` model. I haven't used superbuild so far, so I can't say anything about

[2016-11-11 13:39] frank-foerster commented on #37
I just re-tested the `icub_with_hands` model with the most recent updates but still get some unstable behaviour. Just sent you the script and config-files I am using to run run ARE in Gazebo.

[2016-11-11 13:46] traversaro commented on #39
@frank-foerster  Thanks for the feedback. I plan to work on this next week.

[2016-11-14 16:10] tkelestemur commented on #31
@traversaro I am sorry but I am not working on iCub anymore, so I am unable to confirm similarity.

[2016-11-14 17:19] traversaro commented on #38
Renamed the issue after the recent findings.

[2016-11-14 17:20] traversaro commented on #31
No problem, I think anyhow this should be solved by https://github.com/robotology/icub-gazebo/issues/38 .

[2016-11-14 20:04] randaz81 commented on #31
I'm closing this issue since:
- The original description refers to deprecated modules (i.e. simcartesiancontrol).
- There issue is duplicated.
- Discussion refers to fixes which are outdated.

[2016-11-14 20:04] #31 closed

[2016-11-14 20:07] randaz81 commented on #38
There a bunch of bugs that prevent ARE to work with gazebo. I'll remove this message as soon the fixes are be pushed.

[2016-11-14 20:31] randaz81 commented on #37
Hi @frank-foerster, we found multiple issues, at different levels (including yarp_dev), preventing both ARE and the cartesian controller to properly work with Gazebo. I'll notice you as soon as we push the fixes.
Additionally, I checked your scripts, and I noticed that you are using a module simCartesianControl, which has been deprecated and removed from icub-main (See https://github.com/robotolog

[2016-11-14 22:47] randaz81 opened #42 "Invalid/Missing implementation of stop() method."
This affect the following interfaces:
- iPositionControl (bugged)
- iMixedControl (missing)
- iVelocityControl (missing)

Relevant for cartesian control.

[2016-11-14 22:49] randaz81 opened #43 "Missing watchdog for VelocityControl"
On the real robot, velocity ref is reset to zero if the user does not refresh the command every xxx ms (configurable, default 100)

[2016-11-14 22:52] randaz81 opened #44 "deprecated PID format used in robot models"
PID gains written in the ini files should be expressed using the following format:
[code]

and not as:
[code]

The latter also using a rad2deg conversion factor that make the robot configuration inconsistent with the values returned by yarp interfaces.

[2016-11-14 22:56] randaz81 opened #45 "user commands not protected by check on the current control mode"
e.g. velocity commands should be rejected if the current control mode is position control.
In some cases instead, it seems that last user command is stored and applied when control mode is changed. TBV

[2016-11-15 08:17] frank-foerster commented on #37
Hi,
I'm aware that simCartesianControl is outdated, I just didn't get around to update as of yet.
But I'll update soon. Thanks for looking into this.

[2016-11-16 11:21] emilio-cartoni opened #46 "[icub_with_hands] hands tremor + finger twitching"
After the recent fixes for the issue in robotology/QA#155 I noticed that the hands of the icub_with_hands model now have a constant small tremor and sometimes a finger twitches for a split second.
This happens constantly without sending any command to the iCub.

[2016-11-16 13:53] traversaro commented on #46
I think we will check this tomorrow in IFI-Day with @randaz81 and @Yeshasvitvs .

[2016-11-17 14:17] #26 closed

[2016-11-17 15:10] traversaro commented on #39
I tested https://github.com/robotology/icub-gazebo/issues/48 , and it is working fine. Given that most of the users of the models moved to https://github.com/robotology-playground/icub-gazebo-wholebody/commit/6be6ad8ff88e0368ab248bae4fbc60d91a0ae5d6 are now in Mexico, I think I can merge, and users of those models can simply catch up when they return.

cc @DanielePucci @gabrielenava @francesco-rom

[2016-11-17 15:15] traversaro commented on #39
Fixed by https://github.com/robotology/icub-gazebo/pull/48 .

[2016-11-17 15:15] #39 closed

[2016-11-17 16:06] traversaro commented on #44
Relevant gyp issues:
* https://github.com/robotology/gazebo-yarp-plugins/issues/119
* https://github.com/robotology/yarp/issues/491
* https://github.com/robotology/gazebo-yarp-plugins/issues/218

[2016-11-17 16:06] traversaro commented on #44
cc @Yeshasvitvs

[2016-11-18 09:53] #33 closed

[2016-11-18 09:54] randaz81 commented on #42
fixed by https://github.com/robotology/gazebo-yarp-plugins/commit/77f3a8441267cfd330ce8ed44d90b0b911241e04

[2016-11-18 09:54] #42 closed

[2016-11-18 11:18] Yeshasvitvs commented on #40
see https://github.com/robotology/icub-gazebo/pull/47

[2016-11-18 12:46] randaz81 commented on #43
fixed by https://github.com/robotology/gazebo-yarp-plugins/commit/166fa7a319e2beae1c2374152c7cf87498886259.
Default watchdog value = 200ms (it can be modified for debug puroposes using the RemoteVariableInterface)

[2016-11-18 12:46] #43 closed

[2016-11-18 13:28] randaz81 commented on #8
IFI day passed and we haven't discussed this yet..😄
I think this is an important issue, expecially to simplify the use of the cartesiancontroller configuration files with gazebo (i.e. the files contained in the icub-main\app\simCartesianControl folder)

[2016-11-18 13:29] traversaro commented on #8
We discussed of this with @randaz81 and @pattacini and at the moment we all agree that this would definitely simplify sharing configuration files between `icubSim` and iCub simulated on Gazebo (see https://github.com/robotology/gazebo-yarp-plugins/issues/132).

This would be true even for calling it simply `icub`, but changing too much would be probably risky. : )
 I will start know to disseminate

[2016-11-18 13:30] traversaro commented on #8
cc @robotology/codyco-developers Please take a look at this issue. The changes should be minimal, as we just need to change `icubGazeboSim` to `icubSim` in all relevant script/configuration files, but please be aware of it.

[2016-11-18 13:31] jeljaik commented on #8
👍🏽

[2016-11-18 13:53] traversaro commented on #8
For reference: this can already be done by opening the `icub-gazebo/icub/conf/gazebo_icub_robotname.ini` ( `iCubHeidelberg01_model/conf/gazebo_iCubHeidelberg01_robotname.ini` for iCubHeidelberg01 ) and modifying its content from `gazeboYarpPluginsRobotName icubGazeboSim` to `gazeboYarpPluginsRobotName icubSim` .

The same can be done for using any kind of prefix you may want, for example `icub`.

[2016-11-19 12:44] claudiofantacci commented on #8
👍

[2016-11-23 14:50] misaki43 opened #52 "head's ports of icubGazeboSim are not opened"
Hello,

I tried to change  the version of icub-gazebo (→ icub_chair) as well as yarpWholeBodyInterface & WBIToolboxControllers (→ demo_codyco) to do some [tests](https://github.com/robotology-playground/WBI-Toolbox-controllers/blob/demo_codyco/controllers/torqueBalancing/CODYCO_DEMO_README.md).
But since these modifications, when I launch icubGazeboSim, the head's ports are not created.
Then, I tr

[2016-11-23 17:30] misaki43 commented on #52
Sorry guys, my problem is solved.
I have updated all things. Thens, when I updated gazebo_yarp_plugins and when I came back to "icub_chair' branch, it works.
Thanks!

[2016-11-23 17:30] #52 closed

[2016-11-23 18:50] traversaro commented on #8
PR already created:
* [ ] https://github.com/robotology/icub-gazebo/issues/53
* [ ] https://github.com/robotology/yarp-wholebodyinterface/pull/60

Repo still to update :
* [ ] https://github.com/ocra-recipes/ocra-recipes/search?utf8=%E2%9C%93&q=icubGazeboSim
* [ ] https://github.com/ocra-recipes/ocra-wbi-plugins/search?utf8=%E2%9C%93&q=icubGazeboSim
* [ ] https://github.com/robotology/mex-wholebod

[2016-11-29 09:50] rlober opened #54 "Add l_sole to SDF"
Hey guys,

I was wondering if you could add the `l_sole` and `r_sole` as links in the main iCub model sdf? We are using the soles for odometry and in order to visualize frames in gazebo properly I need to grab the initial `l_sole` pose from gazebo to get the rototranslation from gazebo to the robot, that way, all the frames I have expressed in the robot world can be expressed in the gazebo world.

[2016-11-30 11:10] traversaro commented on #54
I have a long answer to this question, but I do not have time to write it at the moment. :D
(Hint: it is related to https://github.com/robotology/codyco-modules/issues/39 , http://discourse.ros.org/t/urdf-ng-link-and-frame-concepts/56 ).

In a nutshell: if you have a configuration that is working for you (i.e. the robot is not exploding even if this `l_sole` and `r_sole` ``link'' have a negligible

[2016-11-30 12:59] rlober commented on #54
Wow, this was a much bigger can of worms than I could have ever imagined! I think I will just let this little feature request go for the time being.

[2016-11-30 12:59] #54 closed

[2016-12-07 12:22] #8 closed

[2016-12-07 12:37] traversaro commented on #8
Fixed almost a week ago, but we noticed it only now, see https://github.com/robotology/icub-gazebo/pull/53#issuecomment-265433940 . This has definitely been fixed now.

[2016-12-07 13:32] traversaro commented on #44
Fixed by https://github.com/robotology/icub-gazebo/issues/51 .

[2016-12-07 13:32] #44 closed

[2016-12-07 13:32] traversaro commented on #24
Fixed by https://github.com/robotology/icub-gazebo/issues/51 and https://github.com/robotology/icub-gazebo/issues/56 .

[2016-12-07 13:32] #24 closed

[2016-12-12 16:06] traversaro opened #57 "Provide a world for make-it-roll tutorial"
Provide a `.world` file to simplify reproducing the [`make-it-roll`](https://github.com/vvv-school/make-it-roll) tutorial on Gazebo.

[2016-12-23 14:48] Yeshasvitvs commented on #46
@randaz81 @traversaro this is solved! see https://github.com/robotology/icub-gazebo/pull/50

[2016-12-23 14:48] #46 closed

[2017-01-18 22:04] traversaro opened #58 "Meshes not visualized in Gazebo 8"
Probably related:
 * https://bitbucket.org/osrf/gazebo/issues/2130/some-collada-textures-are-invisible-since
 * https://bitbucket.org/osrf/gazebo/issues/2147/some-of-pr2s-visuals-are-transparent

[2017-02-08 14:33] traversaro opened #59 "iCub default stiffness seems to be set to 0.0"
It should be set to a reasonable value.

[2017-03-01 11:55] rlober opened #60 "What happend to icub_chair branch"
Hey all,

What happened to the `icub_chair` branch we were using for demo stuff? Seems to have been `-d`ed...

@traversaro @gabrielenava @DanielePucci @francesco-romano

[2017-03-01 12:12] gabrielenava commented on #60
Hi! the models related to this demo have been moved to the new repository [icub-gazebo-wholebody](https://github.com/robotology-playground/icub-gazebo-wholebody)
for further info you can refer to this issue  https://github.com/robotology-playground/WBI-Toolbox-controllers/issues/39

[2017-03-01 12:15] rlober commented on #60
Great, thanks @gabrielenava

[2017-03-01 12:15] #60 closed

[2017-06-26 10:27] nunoguedelha commented on #22
@traversaro , regarding the theory note, I noticed some typos. Could you check this review:
http://mathb.in/147496

Regarding the implicit damping, I've just tried it on the iCubGenova04 model generated from CAD and it didn't work. I still had to edit the inertial matrices. I've pushed the updated model to [my fork of `icub-models`](https://github.com/nunoguedelha/icub-models/tree/master/iCub/robo

[2017-06-27 07:37] traversaro commented on #22
: ( .
For which links did you had to increase the inertia?

[2017-06-29 15:34] traversaro commented on #22
I think we need to try to fix this sooner or later. By the way, I never noticed at the time I increased the iCub inertias (around October/November 2013 to get Gazebo stability that a similar modification was performed also in the Atlas model for the VRC a few months before:
* https://bitbucket.org/osrf/drcsim/pull-requests/157

I found this link in this paper, that is interesting and related to th

[2017-06-29 19:27] nunoguedelha commented on #22
_Replying to https://github.com/robotology/icub-gazebo/issues/22#issuecomment-311278364 by @traversaro :_

The modified links are `l_ankle_1` `l_hip_2` `r_ankle_1` `r_hip_2` :
[code]

[2017-06-30 01:08] traversaro commented on #22
Great, the number of links affected is limited!
I am glad to see that the shoulder links (the one for which I opened this issue: https://github.com/robotology/icub-gazebo/issues/22#issue-114402827) do not need any inertia "help"

[2017-07-11 10:00] pattacini opened #61 "simulated icub on gazebo drifts when using Gaze controller"
@valeriosperati commented on [Mon Jul 10 2017](https://github.com/robotology/QA/issues/242)

Hi, I have a code that initialises the gaze controller on simulated icub and, on a keypress event, directs the gaze on a fixed point using lookAtMonoPixel() function.
It works as expected with icub_SIM but fails using gazebo: the head robot immediately drifts after the initialisation of gaze controller

[v

[2017-07-14 10:45] traversaro commented on #22
Moving the issue to icub-model-generator, as it seems to me that is more a model-generation related issue.

[2017-07-25 14:41] emilio-cartoni commented on #61
I had the same issue of the neck "drifting" when launching the tutorial_gaze_interface

Neck behavior was fixed by enabling position_direct mode in iKinGazeCtrl following (the reverse of) these instructions: https://github.com/robotology/icub-main/issues/129#issue-64464506
According to this (https://github.com/robotology/gazebo-yarp-plugins/issues/240) velocity mode does not work on Gazebo, while

[2017-09-07 18:17] gabrielenava commented on #57
The world file has been created in [another repository](https://github.com/robotology-playground/icub-gazebo-wholebody/tree/master/worlds/iCub_and_Table), thus we can close the issue.

[2017-09-07 18:17] #57 closed

[2017-10-11 17:57] dcam0050 opened #62 "Make ARE [home] command work within Gazebo"
I'm having an issue with `ARE` while using `icub with hands` model.

It starts off OK but then fails with ```[ERROR] unable to connect to the server rpc port!```

I've attached here the log for ARE launched using --configSim.ini.

[ARE_icubgazebo_log.txt](https://github.com/robotology/icub-gazebo/files/1376660/ARE_icubgazebo_log.txt)

These are the modules that I'm running:

iKinCartesianSolver --

[2017-10-12 01:38] dcam0050 commented on #62
I figured out the issue which was the absence of  yarprobotinterface --context simCartesianControl

Now `ARE` starts OK however when I issue a `home_all` the icub falls forward

![icub_home_all_fall](https://user-images.githubusercontent.com/4288535/31475038-5d11882a-aef6-11e7-89b0-ed9f0cb7ba4c.png)

[2017-10-12 11:57] pattacini commented on #62
Hi @dcam0050

Gazebo is a bad company to spend the night with unless you're now on the other side of the Earth 😉

Concerning the stability of ARE within Gazebo there're already a number of quite longstanding issues (see #37 #38) I would rather point you at.

As a workaround, you might want to give ARE a try in stiff mode. To do so, disable the parameter [`impedance`][1] within the ARE config file.

[2017-10-12 13:01] dcam0050 commented on #62
Pretty bad company indeed during the night :sleepy:

I did try setting impedance off because when impedance is on, there are warning messages issued in the gazebo terminal when a `home_all` is issued ```[WARNING]Compliant velocity control not yet implemented``` so I tried impedance off however the result was the same.

Could it be an issue of configuration files? Under robots directory in .local/s

[2017-10-13 14:04] pattacini commented on #62
@dcam0050 I've been playing around with `ARE` in Gazebo today and, eventually, I made it run successfully, at least the `home all` command.

First, yes, please get rid of the `YARP_ROBOT_NAME` env variable for these tests, at least temporarily, to avoid any possible interaction while yarp retrieves contexts.

The key point is to configure the Cartesian controller as well as the gaze controller to

[2017-10-13 14:19] pattacini commented on #62
After these investigations, it might be worth looking back to #37 and #38.

@traversaro @randaz81

[2017-10-16 06:46] pattacini commented on #61
Hi @valeriosperati @emilio-cartoni

In view of #62, try out with the contexts provided [here][1]. I made the gaze controller run within Gazebo using the `position-direct` mode.

[1]: https://github.com/robotology/icub-gazebo/issues/62#issuecomment-336461717

[2017-10-19 12:34] pattacini commented on #62
@dcam0050 any news on this?

[2017-10-19 18:36] pattacini commented on #61
Sorry @emilio-cartoni
Didn't realize you already figured it out.

[2017-10-21 18:32] pattacini commented on #61
Hi @emilio-cartoni

https://github.com/robotology/icub-tutorials/commit/e019bc80c75d30c6b202aeffc67498a62914f0f1 should have fixed the different behaviors you saw on iCub_SIM and Gazebo.

I think we can close this.

[2017-10-21 18:32] #61 closed

[2017-10-23 20:59] pattacini commented on #62
Closing for now.

[2017-10-23 20:59] #62 closed

[2017-10-25 17:12] dcam0050 commented on #62
Hi @pattacini sorry for the delay in trying this out. I just tried it and I confirm it works great!

[2017-10-25 18:24] pattacini commented on #62
Cool!
Thanks for reporting @dcam0050

[2018-01-30 16:52] Yeshasvitvs opened #63 "Ports prefix conflict while spawning multiple composite models"
As mentioned in this [issue](https://github.com/robotology/gazebo-yarp-plugins/issues/93) while spawning multiple icub robots into gazebo `gazeboYarpPluginsRobotName icubSim` inside `gazebo_icub_robotname.ini` is commented out.

All the FT sensor ports and inertial ports open correctly while spawning two base icub models inside gazebo

[code]

But when `iCub (fixed)` model, which uses composite `i

[2018-04-04 16:00] gabrielenava opened #64 "Gazebo 9.0 crashes while trying to visualize links CoM of iCub sdf model"
I tried to visualize the CoM of each link of the [old iCub sdf model](https://github.com/robotology/icub-gazebo/blob/master/icub/icub.sdf). Gazebo 9.0 crashed. This is the error message:

[code]

I don't think this issue is related to Gazebo, in fact I can correctly visualize the links CoM of the Walkman model, see the attached GIF.

![out](https://user-images.githubusercontent.com/12396934/383191

[2018-04-04 16:02] traversaro commented on #64
Cool. I remember visualizing them for this model in old Gazebo versions, so I guess it could be a issue introduced in a new version of Gazebo. Just in case, have you tested the behavior also on Gazebo 9?

[2018-04-05 14:57] gabrielenava commented on #64
Tested on Gazebo 8 and there are no issues. So it is an issue related to Gazebo 9.

[2018-04-06 11:08] gabrielenava commented on #64
Issue opened https://bitbucket.org/osrf/gazebo/issues/2454/gazebo-90-crashed-when-trying-to-visualize

[2018-04-09 12:42] gabrielenava commented on #64
Seem they found the bug:

It will be soon fixed.

[2018-07-14 12:48] traversaro commented on #63
Hi @Yeshasvitvs , was this fixed? Can you leave a line explaining why this issue can be closed? Thanks!

[2018-07-16 09:10] Yeshasvitvs commented on #63
@traversaro My bad, I thought this issue is a duplicate of [this issue](https://github.com/robotology/gazebo-yarp-plugins/issues/342)

[2018-08-23 12:08] traversaro commented on #64
Gazebo 9.1.0 was released on the first of june, containing this fix (see https://bitbucket.org/osrf/gazebo/src/gazebo9/Changelog.md). Closing.

[2018-08-23 12:08] #64 closed

[2018-08-23 12:31] traversaro commented on #58
I guess this was fixed by https://bitbucket.org/osrf/gazebo/pull-requests/2601/fix-collada-loader-transparency/diff . Please open a new issue if this is not the case.

[2018-08-23 12:31] #58 closed

[2018-09-24 10:56] ahoarau opened #65 "[gazebo9] URDF to SDF only loads 4 joints"
When I try to convert the generated `icub.urdf` to `sdf` :
[code]
It only converts 4 joints :
[code]
[code]

[2018-09-24 11:00] traversaro commented on #65
Which model are you trying to convert?

Issues that could be related:
* https://bitbucket.org/osrf/sdformat/issues/105/urdf-parser-fails-if-two-consecutive-fixed

[2018-09-24 12:36] ahoarau commented on #65
This one https://github.com/robotology/icub-model-generator/blob/master/dh/generated/urdf/icubGazeboSim/icub.urdf

Most probably related to this indeed.

[2019-01-14 10:00] lpenco opened #67 "iCub hands inertia tensors"
I'm making a urdf of the hands of the iCub. I need the inertia tensors for the meshes of the hand. Do you have this information by any chance?

[2019-01-14 11:21] Yeshasvitvs commented on #67
@lpenco I am not sure what you mean by the  inertia tensors of `meshes`. A while back I worked on the [hands urdf](https://github.com/Yeshasvitvs/icub_hands_urdf). I am not certain if the [inertial values used](https://github.com/Yeshasvitvs/icub_hands_urdf/blob/b129da688004a68efffe24bbcd4264b2d5723d6c/l_hand.urdf#L6)  are taken from the CAD models of the hands, but these values along with the col

[2019-01-15 09:12] traversaro commented on #67
Hi @lpenco ,
   the only URDF/SDF model of the hands of the robot contained in this repo was added in https://github.com/robotology/icub-gazebo/commit/a8644d447dee94c1e3f88828b3c792fc5e8680af#diff-5edf38f938f0d0dd814e1c52d28289b6 , and was actually extracted from the model available at https://github.com/vislab-tecnico-lisboa/icub-moveit/blob/master/icub_description/urdf/iCub.urdf. If I am not wro

[2019-01-21 09:45] robertorovella91 commented on #62
Hello everyone,
we are trying to transfer our simulation on the gazebo but I'm having problems with the gaze controller. Infact, while for the movement of the limbs and the neck it is possible to activate respectively the position control and the position-direct from the configuration file, for the eyes it seems that they can only use the mixed control that causes the drift of the eyes. Is it poss

[2019-01-21 09:48] traversaro commented on #62
Hi @robertorovella91 ,
   I suggest to open a new issue (for example in https://github.com/robotology/QA) instead of commenting old closes issues, this will give you more visibility to your question. Thanks a lot!

[2019-01-21 09:51] pattacini commented on #62
@robertorovella91
Unfortunately, I don't think there is any good news in this respect.
@xenvre might add insights.

[2019-01-21 09:57] robertorovella91 commented on #62
So there is not possible to run gaze controller on gazebo ?

[2019-01-21 10:20] robertorovella91 opened #68 "Run the iCub's Gaze controller on Gazebo"
So there is no possibility to run gaze controller on Gazebo?

_Originally posted by @robertorovella91 in https://github.com/robotology/icub-gazebo/issues/62#issuecomment-456014072_

[2019-01-21 10:51] traversaro commented on #68
If this fix is necessary to align the model contained in this repo with the real iCub robot, feel free to open a PR, thanks!

[2019-01-22 13:43] robertorovella91 commented on #68
Hi @xEnVrE ,

thank you so much, now it works.

[2019-01-22 13:49] traversaro commented on #68
Hi @robertorovella91 , if it is not a problem I would keep the issue open until the Gaze controller is working fine with the unmodified versions of `gazebo-yarp-plugins` and `icub-gazebo`.
Did you implemented both the suggestion by @xEnVrE to get it to work?

[2019-01-22 13:58] robertorovella91 commented on #68
Hi @traversaro
Of Course, yes i changed the sdf file and compiled the plugin.

[2019-04-25 10:51] traversaro opened #70 "Remove the iCubHeidelberg01 model"
The iCubHeidelberg01 model present in this repo is not maintained and  it has not been migrated to the new model generation infrastructure at https://github.com/robotology/icub-model-generator . Unless @hu-yue is aware of anyone working on iCubHeidelberg01, I think we can drop it from the repo.

[2019-04-25 10:51] traversaro commented on #70
cc @diegoferigo

[2019-04-25 10:56] hu-yue commented on #70
The only person I can think of is @mhubii, if he is not using it, maybe he knows if someone is using it in Heidelberg.
cc @KevinAStein?

[2019-04-25 11:02] mhubii commented on #70
I am using it thats true, and it would be cool to have it around until I have finished :)

[2019-04-25 15:24] mhubii commented on #70
and actually I am not so dependent on whether or not the model can be found here. So if it makes you feel like you could clean up your code by that, do it.

[2020-03-27 21:12] xEnVrE opened #75 "Clarifications on joint limits of eyes and finger adduction/abduction"
These are the limits for the right hand finger adduction/abduction

https://github.com/robotology/icub-gazebo/blob/14a078e49968c2130d64b8d5635d6f302035d67b/icub/conf/gazebo_icub_right_hand_finger.ini#L68-L71

On the real robot, these correspond to a single DoF spanning approximately 60.0 degrees. Please also consider that the joint associated to the middle finger is not actuated.

Hence I am expec

[2020-03-27 21:12] xEnVrE commented on #75
cc @traversaro

[2020-04-14 15:47] GiulioRomualdi commented on #75
@kouroshD. This may be crucial for your task

[2020-07-05 14:10] xEnVrE opened #78 "Use grabberDual instead of grabber in icub camera configuration files"
In files

https://github.com/robotology/icub-gazebo/blob/master/icub/conf/left_camera.ini

and

https://github.com/robotology/icub-gazebo/blob/master/icub/conf/right_camera.ini

`grabber` is used as the YARP device exposing images to the YARP network.

However, `grabber` is now deprecated in YARP and we should switch to `grabberDual` which is the new default one to avoid issues, e.g. see https://g

[2020-07-05 14:35] traversaro commented on #78
Thanks for the issue, feel free to open a PR, thanks!

[2020-07-05 18:08] traversaro commented on #78
Just to understand, `grabberDual` is a drop-in replacement for `grabber` or there are some differences the users should be aware of?

[2020-07-05 18:10] traversaro commented on #78
Related issue: https://github.com/roboticslab-uc3m/openrave-yarp-plugins/issues/100 .

[2020-07-05 18:19] traversaro commented on #78
Docs:
* `grabber` docs: http://www.yarp.it/classServerFrameGrabber.html
* `grabberDual` docs: http://www.yarp.it/classServerGrabber.html

[2020-07-05 18:51] xEnVrE commented on #78
Hi @traversaro, I am not that into the topic. It seems that it support two cameras at the same time.

[2020-07-05 19:17] traversaro commented on #78
I guess @Nicogene can help us answer this question.

[2020-07-06 07:03] Nicogene commented on #78
`grabberDual` supersed all the `grabber` functionalities, except for the support also of the audio stream, but recently in YARP the audio management is changed a lot, then I suspect that it doesn't work anymore.
I agree to port the ini to use `grabberDual`, it is the now the default for all the camera devices

[2020-07-17 11:56] xEnVrE commented on #68
We have updates on this issue.

After merging this PR https://github.com/robotology/gazebo-yarp-plugins/pull/492, the gaze controller seems to be running properly on Gazebo.

However, before closing this issue, we still need to address the fact that there is something wrong with the eyes reference frames. Indeed, if you try to increase the eyes vergence it will result in a wrong movement if compar

[2020-07-17 12:52] traversaro commented on #68
Small comment: I do not know the logic with which the eye frame have been constructed, but for URDF-derived models it is quite common to have the link frames of the last link of chain **not matching** the actual end effector frame, as the frame of the last link of the chain typically needs to respect some constraint that make it impossible to coincide with the end effecto frame, such as the (URDF)

[2020-07-17 13:46] xEnVrE commented on #68
I agree with you, the "end effector" frames are not matching and, since nobody is using this SDF with FK libraries or similar for the eyes chain, an equivalent `_dh_frame` frame was never added.

Then, maybe we can proceed by just flipping the axis of motion so that the eyes moves as they should.

[2020-07-17 14:09] traversaro commented on #68
If that is the problem, then I agree in doing so.

[2020-07-20 22:53] xEnVrE opened #81 "Wrong MAIS configuration file"
According to https://github.com/robotology/QA/issues/152#issuecomment-256921469 and the [icub wiki](http://wiki.icub.org/wiki/Software_interface:_standard_port_names_for_hardware_devices#Finger_encoders), the number of joints accounted for in the analog readout should be 15 (three per finger).

At the moment, instead, we have 16 joints

https://github.com/robotology/icub-gazebo/blob/ec10e52c03cef1

[2020-07-21 16:12] xEnVrE commented on #81
Addressed in #82

[2020-07-21 16:13] #81 closed

[2020-07-21 16:14] xEnVrE commented on #68
I think we can probably close this.

[2020-07-21 16:16] xEnVrE commented on #75
After https://github.com/robotology/gazebo-yarp-plugins/pull/499, limits for coupled joints, such as eyes and abduction, can be specified in configuration files.

We should update configuration files of the model hosted in this repository accordingly.

[2020-07-21 16:36] traversaro commented on #68
Don't we need the new limits on the eyes? Or the gaze controller also work well with the old eyes?

[2020-07-21 16:47] xEnVrE commented on #68
The fact is that, the limits in the current `[LIMITS]` section are, for pure chance I would say, the limits of the coupled joints (I pointed out this in #75).

Hence, since the current configuration file does not have the limits for the coupled joints, that we started supporting in https://github.com/robotology/gazebo-yarp-plugins/pull/499, and, the controlboard plugin, as a fallback, is using the

[2021-02-18 12:33] maxymczech opened #85 "Documentation site down?"
http://robotology.gitlab.io/docs/gazebo-yarp-plugins/master/

The page return error code 404.

[2022-01-13 11:01] traversaro commented on #78
Fixed by https://github.com/robotology/icub-gazebo/pull/79 .

[2022-01-13 11:01] #78 closed

[2022-01-13 11:04] traversaro commented on #65
The reason is actually described in https://github.com/robotology/icub-models/issues/112#issuecomment-1012020159 . TL;DR: Due to problems in the original data used to create the URDF for v1 parts of iCub, `torso_1`, `torso_2`, `l_hip_3`, `r_hip_3` links mass in the URDF was set to 0, and so SDF stops converting (silently, so this could be in a sense a bug  in sdformat) the model as soon as a massl

[2022-01-13 11:04] #65 closed

[2022-01-13 11:05] traversaro commented on #68
@xEnVrE is this fixed?

In any case, I would move this issue to `icub-models` as that one is the repo with supported iCub URDF models.

[2022-01-13 11:06] traversaro commented on #45
This seems to be a gazebo-yarp-plugins problem, moving the issue there.

[2022-01-13 11:07] traversaro commented on #63
Not sure if this is still an issue (@lrapetti ?), but in any case it is more appropriate to have this in icub-models.

[2022-01-13 11:09] traversaro commented on #75
Moving to `icub-models` as the only mantained models are there.

[2022-01-13 11:12] traversaro commented on #70
This repo has been deprecated some time ago (see https://github.com/robotology/robotology-superbuild/issues/542), so it is not really important to delete this specific model.

[2022-01-13 11:12] #70 closed

[2022-01-13 11:12] traversaro commented on #38
Is this still the case @pattacini ? In any case, I think the proper place for this issue is icub-models.

[2022-01-13 11:13] traversaro commented on #37
I think we can close this as it is a duplicate of https://github.com/robotology/icub-models/issues/120 .

[2022-01-13 11:13] #37 closed

[2022-01-13 11:14] traversaro commented on #22
Hi Traversaro from 2017, you never this this apparently. Better to move it!

[2022-01-13 11:15] traversaro commented on #16
In the end, we used indeed `iCubGazeboV3` style names, so I think we can close this issue.

[2022-01-13 11:15] #16 closed

[2022-01-13 11:15] traversaro commented on #67
Hi @lpenco, I will close the issue, feel free to open a new one if you need more info.

[2022-01-13 11:15] #67 closed

[2022-01-13 11:18] traversaro commented on #18
The order is given by the `gazebo-yarp-imu` plugin, so it is not related specifically to models. Moving this issue to `icub-models` .